body {
    background-color: lightgray;
}

.thumbnail.equipment {
    padding-bottom: 1em;
    margin-bottom: 1em;
    width: 100%;
}

accordion {
    margin-bottom: 2em;
}

#equipment-name {
    position: relative;
    top: -2.0em;
    left: -0.8em;
    color: #000000;
    background-color: #f5f5f5;
    border: 1px solid #797979;
    border-bottom: 0px;
    /*border-radius: 5px;*/
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    padding: 2px 10px;
    font-size: 130%;
    font-weight: bolder;
    clear: both;
}

.equipment-list {
    background-color: #f5f5f5;
    border: 1px solid #797979;
    border-radius: 3px;
    -webkit-border-top-left-radius: 0px;
    margin-bottom: 4em;
    padding: 1em 1em;
    box-shadow: 3px 3px 2px 0px RGBA(0, 0, 0, 0.4);
}

.equipment-list .border{
    padding: 1em 1em;
    border: 1px solid #dfdfdf;
}

.equipment-list .gen-data{
    border: 1px solid lightgray;
    padding: 1em;
    border-radius: 5px;
}

.equipment-list .info-buttons{
    margin: 1em 0em;
}

.equipment-list .dropdown .param-name{
    display:inline-block;
    text-decoration: none;
    width: 60%;
}

.equipment-list .dropdown .param-name.title{
    position: relative;
    left: -2em;
    font-weight: bolder;
    background-color: #f5f5f5;
    margin-top: 1em;
    border-top: 1px solid #add8e6;
    border-bottom: 1px solid #add8e6;
}

.equipment-list .dropdown .param-value{
    display:inline-block;
}

.equipment-list li:hover{
    font-weight: bolder;
}

.listItem:hover {
    color: #f5f5f5;
    background-color: lightgray;
    cursor: hand;
}
.selected {
    color: #f5f5f5;
    background-color: darkgray;
}

.accordion-body.in { overflow:visible; }

.dropdown-toggle {
    cursor: pointer;
}

.accordion-heading a {
    color: #6f6f6f;
    text-decoration: none;
}

.accordion-heading a:hover {
    background-color: gray;
    color: #ffffff;
    text-decoration: none;
}


